* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color1: #6B6559;
  --color2: #EEC97E;
  --color3: #EBDEC4;
  --color4: #6B5A39;
  --color5: #B8AD98;
}

html, body {
  height: 100%;
  width: 100%;

  background-color: var(--color3);
  text-align: center;
  font-family: 'Tiro Gurmukhi', serif;
}

.header{
  font-family: 'Pacifico', cursive;
  color: var(--color1);
  font-size: 4rem;
  padding-top: 1em;
}

.booksRead{
  background-color: var(--color5);
  color: var(--color4);
  width: 10em;
  height: 3em;
  line-height: 3em;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.8rem;
/*   padding-top: 1.4em; */
/*   text-align: left; */
  margin-top: 5vh;
  margin-right: 3em;
}

.booksRead:hover{
  cursor: pointer;
}

.addBook{
  position: relative;
  background-color: var(--color5);
  border-radius: 25px;
  height: 5em;
  line-height: 5em;
  width: 10em;
  display: inline-block;
}

.addBook:hover{
  background-color: var(color1);
  cursor: pointer;
}

.addBookText{
  
}

/* Book Container */
.container{
  position: relative;
}

.book {
  background-color: var(--color2);
  border-radius: 25px;
  height: 30vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  position: relative;
  animation: appear 0.5s;
}

.appear{
  animation: appear 0.5s;
}

@keyframes appear{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.disappear{
  animation: disappear 0.5s forwards;
}


@keyframes disappear{
  0%{
    opacity: 1;
    transform: translateY(0px);
  }

  100%{
    display: none;
    opacity: 0;
    transform: translateY(30px);
  }
}

.hidden{
  display: none;
}

.book_title {
  text-align: left;
  color: var(--color1);
  font-size: 2em;
  padding-top: 1em;
  position: relative;
  top: 0.6em;
  left: 6em;
}

.book_author {
  text-align: left;
  position: relative;
  font-size: 1em;
  padding-top: 0.5em;
  top: 0.8em;
  left: 12em;
}

.book_cover{
  text-align: left;
  position: absolute;
  left: 2em; top: 3em;
  height: 100%; width: auto;
  margin-top: auto; margin-bottom: auto;
}

/* Add Book Form */
.addBookForm{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  font-size: 2em;
}

.addBookDiv{
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  line-height: 4em;
  background-color: var(--color2);
  border-radius: 30px;
  height: 4em;
  width: 80%;
  color: var(--color1);
}

    
.input{
  position: relative;
  height: 2.6em;
  width: 40%;
  bottom: 5px;
  margin-left: 10px;
  background-color: var(--color3);
}

.input[type=text]{
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 18px;
}

.addBookSubmit{
  width: 10em;
  height: 3em;
  line-height: 3.2em;
  background-color: var(--color4);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.addBookSubmitText{
  color: var(--color5);
}

.addBookSubmitText:hover{
  cursor: pointer;
}